# === STEP CA CONFIGURATION ===
# Virtual host domain for nginx-proxy
VIRTUAL_PORT=29317
VIRTUAL_HOST=telegram.local

# Step CA SSL certificate domain
LETSENCRYPT_HOST=telegram.local

# Email for Step CA certificate registration
LETSENCRYPT_EMAIL=john.smith@mail.com